@import "variables.less";

* {
	padding:0;
	margin:0;
}

body {
	font-family:'Georgia', sans-serif;
	font-size:14px;
	color:#666;
	line-height:1.8em;
	background:@secondary-color;
}

.container {
	width:55%;
	margin:20px auto;
	overflow:hidden;
	background:#fff;
	.border-radius;
}

h1,h2,h3,h4,h5,h6 {
	line-height: 1.8em;
	margin-bottom: 10px;
}

.heading-primary {
	background:@primary-color;
	color:#fff;
	padding:4px 10px;
}

.heading-secondary {
	background:@secondary-color;
	color:#fff;
	padding:4px 10px;
}

a {
	color:@primary-color;
	text-decoration:none;
}

ul li {
	list-style:none;
}

.clearfix {
	clear:both;
}

nav {
	height: 30px;
	background:@primary-color;
	color:#fff;
	padding:5px 5px 0px 5px;
}

nav ul {
	float:right;
}

nav li {
	float:left;
	padding: 0 10px;
	border-right:1px dotted #fff;
}

nav li:last-child {
	border:0;
}

nav a {
	color:#fff;
}

nav a:hover {
	color:#ccc;
}

header {
	padding: 10px;
}

.showcase {
	border-top:@primary-color 5px solid;
	border-bottom:@primary-color 5px solid;
}

.showcase img {
	width:100%;
	margin-bottom:-8px;
}

.page-header {
	border-bottom:#ccc solid 1px;
}

.content {
	padding:10px 15px;
}

.specials {
	margin:20px 0;
}

.specials li {
	width: 33%;
	float:left;
	.box-sizing;
	padding:0px 10px;
}

.specials img {
	width:100%;
	padding: 3px;
	border:1px solid #ccc;
}

.new-items {
	margin:20px 0;
}

.new-items li {
	border-bottom: #f3f3f3 solid 1px;
	margin-bottom:15px;
	padding-bottom:5px;
	overflow:hidden;
}

.new-items img {
	width:85%;
	padding: 3px;
	border:1px solid #ccc;
}

.new-items .item-left {
	float:left;
	width:20%;
}

.new-items .item-right {
	float:right;
	width:80%;
}

footer {
	padding-bottom:20px;
	text-align:center;
}

@media(max-width:960px) {
	.container{
		width:70%;
	}
}

@media(max-width:768px) {
	.container{
		width:70%;
	}
}

@media(max-width:568px) {
	.logo img {
		width:90%;
	}

	.container{
		width:90%;
	}

	.specials li {
		float:none;
		width:100%;
	}

	.specials img {
		width:100%;
	}

	.item-right, .item-left {
		float:none !important;
		width:100% !important;
	}

	.new-items img {
		width:97%;
	}
}