/* COLORS */
@primary-color:#f67f17;
@secondary-color:#764721;

/* Border Radius Mixin */
.border-radius(@radius: 10px) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}

/* Box Sizing Mixin */
.box-sizing(@type: border-box) {
	-webkit-box-sizing: @type;
	-moz-box-sizing: @type;
	box-sizing: @type;
}